# Time-Zone Conversion and Time-Interval Resampling

In [1]:
# Import the neccessary liabraries 
import pandas as pd 
# Use this to view list of time zones
from pytz import country_names, country_timezones 
import pytz

from pathlib import Path

import numpy as np

In [2]:
# read solar tracking csv file from saved directory
df = pd.read_csv('/Users/musaphiri/Documents/Solar Tracking Research/Solar tracking dataset document/solar_tracking.csv')

/var/folders/5j/xr1qcm6x1mv4nngf8t6gl5zc0000gn/T/ipykernel_3695/767048996.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/musaphiri/Documents/Solar Tracking Research/Solar tracking dataset document/solar_tracking.csv')

In [3]:
#drop date column
df = df.drop(['date'], axis = 1)

In [4]:
""" view list of all countries and time zones """

#all_timezones = [country_timezones.get(country) for country in country_names]
#all_timezones

' view list of all countries and time zones '

In [5]:
""" Convert to new mexico time format where the data was recorded """

# convert unix time to abritrary datetime format
df['readable_datetime'] = pd.to_datetime(df['UNIX_sec'], unit='s')

# first convert datetime format to universal time format UTC. Then convert to new mexico time zone ('America/denver'). Then use strftime to specify the output structure and remove unwanted numbers at the end of the date 
df['readable_datetime'] = df['readable_datetime'].dt.tz_localize('UTC').dt.tz_convert('America/denver').dt.strftime('%Y-%m-%d %H:%M:%S')

# view output to verify results
df.head(1)

,UNIX_sec,ElevationAngle,AzimuthAngle,GSI_W/m^2,Temperature_◦C,DewPoint_◦C,AtmosphericPressure_mmHg,WindDirection_radians,WindVelocity_mile/s,RelativeHumidity_%,readable_datetime
0,1.512747e+09,15.000023,132.825735,247.350955,-1.412616,-10.952546,770.07376,1.909132,0.507345,48.213543,2017-12-08 08:36:04

In [6]:
# make a copy of the original dataset
df1 = df.copy()
# df2 = df.copy()
# df3 = df.copy()
# df4 = df.copy()

In [7]:
# Resample to 1 min intervals  
df_1min = df1.set_index(pd.DatetimeIndex(df1['readable_datetime'])).resample("1T").agg('first') 

# Resample to 5 min intervals  
#df_5min = df2.set_index(pd.DatetimeIndex(df2['readable_datetime'])).resample("5T").agg('first') 

# Resample to 10 min intervals  
#df_10mins = df3.set_index(pd.DatetimeIndex(df3['readable_datetime'])).resample("10T").agg('first') 

# Resample to 60 min intervals  
#df_60mins = df4.set_index(pd.DatetimeIndex(df4['readable_datetime'])).resample("60T").agg('first')

In [8]:
# Drop all null rows
df_1min = df_1min.dropna(how='all')
#df_5min2 = df_5min.dropna(how='all')
#df_10min2 = df_10mins.dropna(how='all')
#df_60min2 = df_60mins.dropna(how='all')

In [9]:
# save the finale dataframes to csv
output_dir = Path.cwd() / "/Users/musaphiri/Downloads/sample"
df_1min.to_csv(output_dir / '1min.csv', index=False)
# df_5min2.to_csv(output_dir / '5min.csv', index=False)
# df_10min2.to_csv(output_dir / '10min.csv', index=False)
# df_60min2.to_csv(output_dir / '60min.csv', index=False)

In [10]:
print("1 min interval")
print("-----------------------")
print(df_1min.info())
# print(" ")
# print("5 min interval")
# print("-----------------------")
# print(df_5min2.info())
# print(" ")
# print("10 min interval")
# print("-----------------------")
# print(df_10min2.info())
# print(" ")
# print("60 min interval")
# print("-----------------------")
# print(df_60min2.info())

1 min interval
-----------------------
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 118123 entries, 2017-12-08 08:36:00 to 2019-01-20 15:50:00
Data columns (total 11 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   UNIX_sec                  118123 non-null  float64
 1   ElevationAngle            118123 non-null  float64
 2   AzimuthAngle              118123 non-null  float64
 3   GSI_W/m^2                 118123 non-null  float64
 4   Temperature_◦C            118123 non-null  float64
 5   DewPoint_◦C               118123 non-null  float64
 6   AtmosphericPressure_mmHg  118123 non-null  float64
 7   WindDirection_radians     118123 non-null  float64
 8   WindVelocity_mile/s       118123 non-null  float64
 9   RelativeHumidity_%        118123 non-null  float64
 10  readable_datetime         118123 non-null  object
dtypes: float64(10), object(1)
memory usage: 10.8+ MB
None